*{
    margin:0;
    padding:0;
}
body{
    background:rgb(49, 49, 49);
    color:white;
    font-family: 'Roboto', sans-serif;
    position:relative;

  }

  #parent{
    background:rgba(255,255,255,.25);
    width:98vw;
    margin:0 auto;
    /* Add oveflow auto to container */
    overflow: auto;
    margin-top:10px;
    min-height:500px;
}

.box{
    margin:10px;
    width:max-content;
    min-height:40px;
    padding:15px;
}

#draggable-box-a{
    background-color: cornflowerblue;

}
#draggable-box-a:hover{
    background-color:rgb(168, 192, 236);
    cursor: pointer;
}


#draggable-box-b{
    background-color: rgb(237, 100, 148);

}
#draggable-box-b:hover{
    cursor: pointer;
    background-color: rgb(238, 180, 200);

}
#dropTarget{
    width:90%; 
    height:200px;
    background:rgb(221, 221, 240);
    position:fixed;
    bottom: 100px;
    left: 5%;
   

}
#dropTarget p{
    background:orange;
    padding:5px;
    text-align:center;
    color:black;
} 